<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="pagination-wrap" th:fragment="pagination">

    <ul class="pagination">
        <li class="first">
            <a href="javascript:movePage(1)">first</a>
        </li>
        <li class="pre">
            <a th:attr="onclick=|movePage('${fileMap.pagingMap.prevPageNo}')|">{{.}}</a>
        </li>

        <li th:each="pageNo : ${fileMap.pagingMap.pageList}" th:id="|${pageNo}|">
            <a th:attr="onclick=|movePage('${pageNo}')|" th:text="|${pageNo}|"></a>
        </li>

        <li class="next">
            <a th:attr="onclick=|movePage('${fileMap.pagingMap.nextPageNo}')|">next</a>
        </li>
        <li class="last">
            <a th:attr="onclick=|movePage('${fileMap.pagingMap.finalPageNo}')|">last</a>
        </li>
    </ul>
    <script>


        // document.onload(() => {
        //     let pageNos = document.querySelector("#page-no").value;
        //     if (pageNos === '' || pageNos == null) {
        //         pageNos = 1;
        //     }
        //     document.querySelector('#' + pageNos).addClass("active")
        // });

        $(function () {
            let pageNos = $('#page-no').val();
            if (pageNos == '' || pageNos == null) {
                pageNos = 1;
            }
            $('#' + pageNos).addClass("active");
        });
    </script>
</div>
</html>
