@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/*color*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

dl, ul, ol, menu, li {
  list-style: none; }

address, caption, cite, code, dfn, em, var {
  font-style: normal; }

img, fieldset, iframe {
  border: 0 none; }

img {
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

input, select, textarea, button {
  vertical-align: middle; }

input::-ms-clear {
  display: none; }

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer; }

button, input[type='button'], input[type='submit'], input[type='reset'], input[type='file'] {
  border-radius: 0;
  -webkit-appearance: button; }

input[type="image"], input[type="text"], input[type="submit"], input[type="password"], input[type='search'], text {
  border-radius: 0;
  -webkit-appearance: none; }

input:checked[type='checkbox'] {
  -webkit-appearance: checkbox;
  background-color: transparent;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0px;
  line-height: 0; }

a {
  text-decoration: none;
  select-dummy: expression(this.hideFocus=true); }

body, h1, h2, h3, h4, h5, h6, th, td, input, select, textarea, button {
  /* font family, letter-spacing etc...*/ }

hr {
  display: none; }

textarea, input {
  -webkit-apperence: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main, menu {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

sup, sub {
  line-height: 0; }

html, body {
  width: 100%; }

ul:after, ol:after {
  content: '';
  clear: both;
  display: block; }

html {
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  min-width: 1263px; }

.wrap {
  width: 100%;
  height: 100%; }

.wrapper {
  position: relative;
  padding: 98px 40px 40px 0;
  width: 100%;
  height: 100%;
  min-height: 100%; }

::-webkit-selection {
  color: #3dc2dc; }

/* Chrome/Opera/Safari */
::-moz-selection {
  color: #3dc2dc; }

/* Firefox 19+ */
:-ms-selection {
  color: #3dc2dc; }

/* IE 10+ */
:-moz-selection {
  color: #3dc2dc; }

/* Firefox 18- */
::-moz-selection {
  color: #3dc2dc; }
::selection {
  color: #3dc2dc; }

:-ms-input-placeholder {
  color: #aba7a3; }

/* Internet Explorer 10 < */
::-webkit-input-placeholder {
  color: #aba7a3; }

/* Webkit, Blink, Edge = */
::-moz-placeholder {
  color: #aba7a3; }

/* Mozilla Firefox 4 ~ 18에 적용 */
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  background-color: #ffffff !important;
  color: #333333 !important; }

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: 1px dotted rgba(0, 0, 0, 0.2) !important; }

.nice-select:focus {
  outline: 1px dotted rgba(0, 0, 0, 0.2) !important; }

.error:focus {
  outline: none; }

/*input*/
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
  padding: 0 7px;
  height: 36px;
  line-height: 34px;
  background: #fff;
  border: 1px solid #d8dade;
  font-size: 1rem;
  border-radius: 3px;
  color: #333333; }
  input[type="color"].error,
  input[type="date"].error,
  input[type="datetime-local"].error,
  input[type="datetime"].error,
  input[type="email"].error,
  input[type="month"].error,
  input[type="number"].error,
  input[type="password"].error,
  input[type="search"].error,
  input[type="tel"].error,
  input[type="text"].error,
  input[type="time"].error,
  input[type="url"].error,
  input[type="week"].error,
  textarea.error,
  select.error {
    border-color: #53a461; }

.alert-message {
  font-size: 14px;
  color: #5781ab;
  padding-top: 10px;
  display: none; }

.error + .alert-message {
  display: block; }

input[disabled],
select[disabled],
option[disabled],
textarea[disabled],
button[disabled] {
  pointer-events: none;
  background: #f3f3f3; }

button {
  font-family: "Roboto", sans-serif; }

textarea {
  padding: 7px;
  line-height: 1.5;
  resize: none; }

input[readonly],
textarea[readonly] {
  background: #f3f3f3; }

.radio-box {
  display: inline-block; }
  .radio-box label {
    display: inline-block;
    padding: 0 10px 0 30px;
    line-height: 20px; }
  .radio-box input[type="radio"] {
    position: absolute;
    left: -9999px;
    opacity: 0; }
  .radio-box input[type="radio"] + label {
    position: relative;
    cursor: pointer;
    font-size: 1rem; }
  .radio-box input[type="radio"] + label:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #d8dade;
    border-radius: 50%;
    content: ""; }
  .radio-box input[type="radio"]:checked + label:before {
    border-color: #53a461; }
  .radio-box input[type="radio"]:checked + label:after {
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -6px;
    display: block;
    width: 12px;
    height: 12px;
    background: #53a461;
    border-radius: 8px;
    content: ""; }
  .radio-box input[type="radio"]:disabled + label {
    cursor: default; }
  .radio-box input[type="radio"]:disabled + label:before {
    background: #dcdcdc; }
  .radio-box + .radio-box {
    margin-left: 50px; }

.check-box {
  display: inline-block; }
  .check-box label {
    display: inline-block;
    padding: 0 0 0 30px;
    line-height: 20px; }
  .check-box input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    opacity: 0;
    width: 0;
    height: 0; }
  .check-box input[type="checkbox"] + label {
    position: relative;
    cursor: pointer;
    font-size: 1rem; }
  .check-box input[type="checkbox"] + label:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #d8dade;
    border-radius: 3px;
    content: ""; }
  .check-box input[type="checkbox"]:checked + label:before {
    background: #53a461;
    border-color: #53a461; }
  .check-box input[type="checkbox"]:checked + label:after {
    position: absolute;
    top: 50%;
    left: 3px;
    margin-top: -9px;
    display: block;
    width: 15px;
    height: 10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: ""; }
  .check-box.without-lable {
    padding: 0;
    width: 20px;
    height: 20px;
    position: relative;
    vertical-align: middle;
    z-index: 1; }
    .check-box.without-lable label {
      display: block;
      padding: 0;
      width: 20px;
      height: 20px;
      font-size: 0 !important;
      line-height: 0;
      text-indent: -9999px; }
    .check-box.without-lable input[type="checkbox"]:disabled + label {
      cursor: default; }
    .check-box.without-lable input[type="checkbox"]:disabled + label:before {
      background: #dcdcdc; }
  .check-box + .check-box {
    margin-left: 50px; }

.button-type-radio .radio-box {
  display: inline-block;
  width: 180px; }
  .button-type-radio .radio-box input[type="radio"] {
    position: absolute;
    left: -9999px;
    opacity: 0; }
  .button-type-radio .radio-box input[type="radio"] + label {
    display: inline-block;
    width: 180px;
    height: 36px;
    line-height: 34px;
    padding: 0 12px;
    font-size: 1rem;
    color: #53a461;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #53a461;
    text-align: center; }
  .button-type-radio .radio-box input[type="radio"]:checked + label {
    width: 180px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 12px;
    font-size: 1rem;
    color: #fff;
    background: #53a461;
    border-radius: 5px; }
  .button-type-radio .radio-box input[type="radio"] + label:before {
    display: none; }
  .button-type-radio .radio-box input[type="radio"]:checked + label:after {
    display: none; }
  .button-type-radio .radio-box input[type="radio"]:disabled + label:before {
    display: none; }
  .button-type-radio .radio-box + .radio-box {
    margin-left: 4px; }

/* button */
.btn-basic {
  display: inline-block;
  width: auto;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  font-size: 1rem;
  color: #fff;
  background: #53a461;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  min-width: 70px; }
  .btn-basic:hover, .btn-basic:focus {
    opacity: 0.8; }
  .btn-basic:disabled {
    background: #9da1a8; }
  .btn-basic.cancel {
    background: #ff8080; }
  .btn-basic.line {
    display: inline-block;
    width: auto;
    height: 36px;
    line-height: 34px;
    padding: 0 12px;
    font-size: 1rem;
    color: #53a461;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #53a461; }
    .btn-basic.line:hover, .btn-basic.line:focus {
      opacity: 0.8; }
    .btn-basic.line:disabled {
      color: #9da1a8;
      border-color: #9da1a8; }
  .btn-basic.point {
    background: #51840e; }
  .btn-basic.sofeware span {
    position: relative;
    padding-left: 30px;
    padding-right: 20px;
    display: inline-block; }
    .btn-basic.sofeware span:before {
      position: absolute;
      top: 4px;
      left: -4px;
      width: 28px;
      height: 28px;
      content: "";
      background: #ffffff url(../images/icon-sofeware.png) no-repeat 0 0;
      border-radius: 50%; }
    .btn-basic.sofeware span:after {
      position: absolute;
      top: 12px;
      right: 0;
      width: 11px;
      height: 11px;
      content: "";
      background: url(../images/icon-sofeware02.png) no-repeat 0 0; }

.btn-close {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 26px;
  height: 26px; }
  .btn-close > span {
    display: block;
    position: relative;
    width: 26px;
    height: 26px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px; }
    .btn-close > span:before {
      position: absolute;
      top: -1px;
      left: 12px;
      width: 2px;
      height: 28px;
      background: #333333;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      content: ""; }
    .btn-close > span:after {
      position: absolute;
      top: -1px;
      right: 12px;
      width: 2px;
      height: 28px;
      background: #333333;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      content: ""; }

.btn-search {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/icon-search.png) no-repeat center center; }
  .btn-search:hover, .btn-search:focus {
    opacity: 0.8; }
  .btn-search span {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px; }

.btn-apply {
  display: inline-block;
  width: auto;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  font-size: 1rem;
  color: #fff;
  background: #53a461;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle; }
  .btn-apply:hover, .btn-apply:focus {
    opacity: 0.8; }

.btn-commemt {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px; }
  .btn-commemt:hover, .btn-commemt:focus {
    opacity: 0.5; }
  .btn-commemt span {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px; }
    .btn-commemt span:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: ""; }
  .btn-commemt span:before {
    background: url(../images/icon.png) no-repeat 0 -80px; }
  .btn-commemt:disabled {
    opacity: 0.2; }

.btn-commemt-th {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px; }
  .btn-commemt-th:hover, .btn-commemt-th:focus {
    opacity: 0.5; }
  .btn-commemt-th span {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px; }
    .btn-commemt-th span:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: ""; }
  .btn-commemt-th span:before {
    background: url(../images/icon.png) no-repeat 0 -80px; }
  .btn-commemt-th:disabled {
    opacity: 0.2; }

.btn-info {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 1px 0 2px 0;
  border: 2px solid #222;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 0.875rem;
  line-height: 16px;
  font-weight: 900;
  color: #222;
  margin-left: 4px; }
  .btn-info:hover, .btn-info:focus {
    opacity: 0.7; }

.btn-withicon {
  display: inline-block;
  height: 36px;
  line-height: 34px;
  border: 1px solid #d8dade;
  background: #fff;
  padding: 0 15px;
  border-radius: 3px; }
  .btn-withicon span {
    position: relative;
    padding-left: 25px;
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    color: #222; }
    .btn-withicon span:before {
      position: absolute;
      top: 6px;
      left: 0;
      width: 20px;
      height: 20px;
      content: "";
      background: url(../images/icon.png) no-repeat 0 0; }
  .btn-withicon:hover, .btn-withicon:focus {
    opacity: 0.6; }
  .btn-withicon .text:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    content: "☞";
    background: none; }
  .btn-withicon .start:before {
    background-position: 0 0; }
  .btn-withicon .request:before {
    background-position: 0 -20px; }
  .btn-withicon .download:before {
    background-position: 0 -40px; }
  .btn-withicon .modify:before {
    background-position: 0 -60px; }
  .btn-withicon .comment:before {
    background-position: 0 -80px; }
  .btn-withicon .upload:before {
    background-position: 0 -100px;
    top: 7px; }
  .btn-withicon:disabled {
    opacity: 0.2; }

.btn-small {
  display: inline-block;
  width: auto;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  font-size: 1rem;
  color: #fff;
  background: #53a461;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  height: 25px;
  line-height: 25px;
  font-size: 0.875rem;
  border-radius: 5px;
  background: #666; }
  .btn-small:hover, .btn-small:focus {
    opacity: 0.8; }

.btn-address {
  display: inline-block;
  width: auto;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  font-size: 1rem;
  color: #fff;
  background: #53a461;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  height: 25px;
  line-height: 25px;
  font-size: 0.875rem;
  border-radius: 5px;
  background: #666;
  width: 100%;
  text-align: center;
  margin-top: 5px; }
  .btn-address:hover, .btn-address:focus {
    opacity: 0.8; }

.btn-middle {
  display: inline-block;
  width: auto;
  height: 36px;
  line-height: 34px;
  padding: 0 12px;
  font-size: 1rem;
  color: #53a461;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #53a461;
  border-color: #53a461;
  text-decoration: none !important;
  color: #222;
  height: 30px;
  line-height: 28px; }
  .btn-middle:hover, .btn-middle:focus {
    opacity: 0.8; }
  .btn-middle > span {
    color: #53a461;
    text-decoration: none !important;
    font-size: 0.875rem; }
  .btn-middle:disabled {
    border-color: #d8dade !important;
    background: #d8dade !important; }
    .btn-middle:disabled > span {
      color: #9da1a8; }
  .btn-middle.btn-cancel > span {
    color: #9da1a8; }
  .btn-middle.btn-gray {
    background: #999; }

.btn-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle; }
  .btn-icon:hover, .btn-icon:focus {
    opacity: 0.5; }
  .btn-icon span {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px; }
    .btn-icon span:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: ""; }
  .btn-icon span:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    content: "";
    background: url(../images/icon.png) no-repeat 0 0; }
  .btn-icon.qrcode-write span:before {
    background-position: 0 -60px; }
  .btn-icon.qrcode-download span:before {
    background-position: 0 -40px; }
  .btn-icon.btn-export span:before {
    background-position: 0 -100px; }
  .btn-icon:disabled {
    opacity: 0.3; }
  .btn-icon.disabled {
    opacity: 0.3;
    cursor: default; }
  .btn-icon + .btn-icon {
    margin-left: 4px; }

.btn-point {
  display: inline-block;
  width: auto;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  font-size: 1rem;
  color: #fff;
  background: #53a461;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  background: #3b8648; }
  .btn-point:hover, .btn-point:focus {
    opacity: 0.8; }
  .btn-point span {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 1rem; }
  .btn-point:disabled {
    opacity: 0.4;
    cursor: default; }

.btn-tracking,
.btn-confirm {
  display: inline-block;
  width: auto;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  font-size: 1rem;
  color: #fff;
  background: #53a461;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  min-width: 70px;
  border: 0; }
  .btn-tracking:hover, .btn-tracking:focus,
  .btn-confirm:hover,
  .btn-confirm:focus {
    opacity: 0.8; }
  .btn-tracking span,
  .btn-confirm span {
    color: #fff; }

.btn-sort {
  display: inline-block; }
  .btn-sort span {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    padding-right: 18px;
    display: inline-block; }
    .btn-sort span:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -3.5px;
      right: 0;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 5px 0 5px;
      border-color: #222222 transparent transparent transparent; }
  .btn-sort.on span {
    color: #53a461; }
    .btn-sort.on span:after {
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
              transform: rotate(-180deg);
      border-color: #53a461 transparent transparent transparent; }

.toggle-label {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 36px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden; }
  .toggle-label.on-off {
    width: 70px; }
  .toggle-label input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%; }
    .toggle-label input[type="checkbox"] + .back {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #fff;
      -webkit-transition: background 150ms linear;
      -o-transition: background 150ms linear;
      transition: background 150ms linear;
      border-radius: 5px;
      border: 1px solid #d8dade; }
      .toggle-label input[type="checkbox"] + .back .toggle {
        display: block;
        position: absolute;
        content: " ";
        background: #fff;
        width: calc(100% - 19px);
        height: calc(100% + 2px);
        top: -1px;
        left: -1px;
        -webkit-transition: margin 150ms linear;
        -o-transition: margin 150ms linear;
        transition: margin 150ms linear;
        background: #d8dade;
        border-radius: 5px;
        margin-left: 20px; }
      .toggle-label input[type="checkbox"] + .back .label {
        font-size: 1rem;
        line-height: 36px;
        display: inline-block;
        width: calc(100% - 20px); }
      .toggle-label input[type="checkbox"] + .back .label.on {
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        text-indent: -9999px; }
      .toggle-label input[type="checkbox"] + .back .label.off {
        top: 0;
        right: 0;
        color: #9da1a8; }
    .toggle-label input[type="checkbox"]:checked + .back .toggle {
      margin-left: 0;
      background: #53a461; }
    .toggle-label input[type="checkbox"]:checked + .back .label.on {
      color: #fff;
      text-indent: 0;
      line-height: 35px;
      font-size: 1rem;
      overflow: visible; }
    .toggle-label input[type="checkbox"]:checked + .back .label.off {
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      text-indent: -9999px; }
  .toggle-label .label {
    display: block;
    position: absolute;
    width: 80%;
    color: #ddd;
    line-height: 28px;
    text-align: center;
    font-size: 0.6875rem; }

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  height: 70px !important;
  background: #f5f6f9;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }
  .header h1 {
    width: 230px;
    height: 70px;
    background: #ffffff url(../images/logo.png) no-repeat center center;
    background-size: auto 70px;
    position: absolute;
    top: 0;
    left: 0; }
    .header h1 a {
      display: block;
      width: 100%;
      height: 100%; }
    .header h1 span {
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      text-indent: -9999px; }
  .header h2 {
    padding-left: 260px;
    width: 800px;
    line-height: 70px;
    font-size: 1.5rem;
    float: left;
    color: #53a461;
    font-weight: 700; }
    .header h2 a {
      font-size: 1.5rem;
      text-decoration: underline;
      color: #53a461; }
  .header-member {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 1.125rem;
    white-space: nowrap;
    text-align: right; }
    .header-member .user {
      position: relative;
      display: inline-block;
      padding-right: 20px; }
      .header-member .user > p {
        line-height: 70px;
        position: relative;
        display: inline-block;
        padding-right: 30px; }
    .header-member .btn-logout {
      color: #222222;
      line-height: 70px; }
      .header-member .btn-logout:hover, .header-member .btn-logout:focus {
        color: #53a461; }

.gnb-menu {
  display: inline-block;
  margin-left: 270px;
  height: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  white-space: nowrap;
  text-align: center; }
  .gnb-menu .menu {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px;
    cursor: pointer; }
    .gnb-menu .menu > a {
      line-height: 70px;
      position: relative;
      display: inline-block;
      min-width: 120px;
      color: #53a461; }
    .gnb-menu .menu .sub-menu {
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: 0;
      padding: 0;
      overflow: hidden;
      background: #53a461;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .gnb-menu .menu .sub-menu > li {
        display: block;
        width: 100%;
        height: 30px;
        text-align: left; }
        .gnb-menu .menu .sub-menu > li > a {
          display: inline-block;
          padding: 0 30px;
          color: #ffffff;
          width: 100%; }
          .gnb-menu .menu .sub-menu > li > a:hover, .gnb-menu .menu .sub-menu > li > a:focus {
            color: #ffefad; }
          .gnb-menu .menu .sub-menu > li > a > span {
            display: inline-block;
            font-size: 0.875rem;
            text-align: center;
            font-weight: 500;
            line-height: 30px;
            word-break: keep-all;
            white-space: nowrap; }
    .gnb-menu .menu:after {
      position: absolute;
      top: 50%;
      right: -10px;
      margin-top: -6px;
      width: 2px;
      height: 12px;
      background: #222;
      content: ""; }
    .gnb-menu .menu:hover > span:before, .gnb-menu .menu:focus > span:before {
      -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
              transform: rotate(-135deg);
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      top: 32px; }
    .gnb-menu .menu:hover .sub-menu, .gnb-menu .menu:focus .sub-menu {
      height: auto;
      padding: 5px 0;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
  .gnb-menu .btn-logout {
    color: #222222;
    line-height: 70px; }
    .gnb-menu .btn-logout:hover, .gnb-menu .btn-logout:focus {
      color: #53a461; }

.table-col {
  border-top: 1px solid #53a461; }
  .table-col table {
    width: 100%;
    table-layout: fixed;
    background: #fff; }
    .table-col table > thead th {
      height: 42px;
      padding: 5px 10px;
      border-bottom: 1px solid #d8dade;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      word-break: keep-all;
      background: #f9f9f9;
      vertical-align: middle; }
    .table-col table > tbody tr.tr-link th,
    .table-col table > tbody tr.tr-link td {
      cursor: pointer; }
    .table-col table > tbody th {
      padding: 5px 10px;
      background: #f9f9f9;
      border-bottom: 1px solid #d8dade;
      text-align: left;
      font-weight: 500;
      vertical-align: middle; }
      .table-col table > tbody th.center {
        text-align: center; }
      .table-col table > tbody th.border-left {
        border-left: 1px solid #d8dade; }
    .table-col table > tbody td {
      padding: 5px 10px;
      border-bottom: 1px solid #d8dade;
      font-size: 1rem;
      text-align: center;
      background: #fff;
      height: 43px;
      vertical-align: middle; }
      .table-col table > tbody td.left {
        text-align: left; }
      .table-col table > tbody td.right {
        text-align: right; }
      .table-col table > tbody td.border-left {
        border-left: 1px solid #d8dade; }
      .table-col table > tbody td a {
        color: #2065f1;
        text-decoration: underline;
        vertical-align: middle; }
        .table-col table > tbody td a:hover {
          color: #53a461;
          text-decoration: underline; }
        .table-col table > tbody td a.link {
          color: #2065f1;
          text-decoration: underline; }
        .table-col table > tbody td a.reply {
          position: relative;
          padding-left: 20px;
          font-size: 0.9375rem;
          display: inline-block; }
          .table-col table > tbody td a.reply:before {
            position: absolute;
            top: -3px;
            left: 0;
            width: 10px;
            height: 10px;
            border-left: 1px solid #d8dade;
            border-bottom: 1px solid #d8dade;
            content: ""; }
      .table-col table > tbody td.title {
        text-align: left; }
        .table-col table > tbody td.title a {
          color: #53a461;
          text-decoration: none; }
          .table-col table > tbody td.title a:hover {
            color: #53a461;
            text-decoration: underline; }
      .table-col table > tbody td.address {
        text-align: left;
        font-size: 0.875rem;
        line-height: 1.0625rem; }
      .table-col table > tbody td.desc {
        text-align: left;
        font-size: 0.875rem;
        line-height: 1.0625rem; }
      .table-col table > tbody td.item {
        text-align: left;
        font-size: 1rem;
        font-weight: 500;
        color: #000000; }
      .table-col table > tbody td .tb-inner-select {
        height: 30px;
        line-height: 28px; }
      .table-col table > tbody td .day {
        font-size: 0.8125rem; }
      .table-col table > tbody td .toggle-label {
        text-align: left;
        vertical-align: middle; }
      .table-col table > tbody td .btn-middle.btn-cancel {
        width: 103px; }
      .table-col table > tbody td .btn-middle.btn-completed {
        width: 103px; }
      .table-col table > tbody td.num {
        font-weight: 700; }
      .table-col table > tbody td.money {
        text-align: right; }
        .table-col table > tbody td.money span {
          display: inline-block;
          padding-left: 20px;
          position: relative; }
    .table-col table > tbody tr:focus td,
    .table-col table > tbody tr:hover td {
      background: #f3f3f3; }

.txt-tip {
  text-align: right;
  font-size: 0.875rem;
  display: block;
  float: right;
  color: #ff3333; }
  .txt-tip em {
    color: #ff3333;
    padding-right: 5px; }

.table-row {
  border-top: 1px solid #53a461; }
  .table-row table {
    width: 100%;
    table-layout: fixed;
    background: #fff; }
    .table-row table > thead th {
      padding: 5px 10px;
      border-bottom: 1px solid #d8dade;
      text-align: center;
      font-size: 1rem;
      color: #f3f3f3;
      font-weight: 500;
      word-break: keep-all;
      background: #a09e9e;
      vertical-align: middle; }
      .table-row table > thead th + th {
        border-left: 1px solid #8a8a8a; }
    .table-row table > tbody > tr {
      border-bottom: 1px solid #d8dade; }
      .table-row table > tbody > tr > th {
        padding: 15px 20px;
        background: #f9f9f9;
        text-align: left;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-size: 1rem;
        vertical-align: middle;
        font-weight: 500;
        color: #666666; }
        .table-row table > tbody > tr > th label em {
          top: 3px;
          color: #ff3333; }
      .table-row table > tbody > tr > td {
        padding: 10px 20px;
        font-size: 1rem; }
        .table-row table > tbody > tr > td a {
          color: #0097da;
          font-size: inherit; }
          .table-row table > tbody > tr > td a:hover {
            color: #0097da;
            text-decoration: underline; }
        .table-row table > tbody > tr > td span {
          font-size: inherit; }
        .table-row table > tbody > tr > td textarea {
          padding: 10px;
          width: 100%;
          height: 300px; }
          .table-row table > tbody > tr > td textarea:-moz-read-only {
            color: #9da1a8; }
          .table-row table > tbody > tr > td textarea:read-only {
            color: #9da1a8; }
        .table-row table > tbody > tr > td input {
          min-width: 300px; }
  .table-row .btn-area {
    padding: 10px 0;
    text-align: right; }
  .table-row.table-detail table tbody td {
    height: 45px; }
  .table-row + .btn-area {
    margin-top: 20px; }

.pagination-wrap {
  width: 80%;
  height: 30px;
  text-align: center;
  margin: 30px auto 0 auto; }

.pagination {
  display: inline-block; }

.pagination > li {
  display: inline-block;
  margin-left: -3px;
  position: relative;
  z-index: 0;
  background: #fff; }

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  font-family: "Roboto";
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 1rem;
  color: #222;
  border: 1px solid #d8dade;
  margin-left: 4px;
  text-decoration: none;
  border-radius: 3px; }

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0; }

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #fff;
  border-color: #53a461;
  background: #53a461; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  font-weight: 500;
  cursor: default;
  color: #fff;
  border-color: #53a461;
  background: #53a461; }

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #9da1a8;
  cursor: not-allowed; }

.pagination > li.first {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #d8dade;
  border-radius: 3px; }

.pagination > li.last {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #d8dade;
  border-radius: 3px; }

.pagination > li.pre {
  margin-right: 13px;
  width: 30px;
  height: 30px;
  border: 1px solid #d8dade;
  border-radius: 3px; }

.pagination > li.next {
  margin-left: 13px;
  width: 30px;
  height: 30px;
  border: 1px solid #d8dade;
  border-radius: 3px; }

.pagination > li.pre a {
  z-index: 10;
  background: transparent;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  border: 0;
  margin: 0; }

.pagination > li.next a {
  z-index: 10;
  background: transparent;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  border: 0;
  margin: 0; }

.pagination > li.first a {
  z-index: 10;
  background: transparent;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  border: 0;
  margin: 0; }

.pagination > li.last a {
  z-index: 10;
  background: transparent;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  border: 0;
  margin: 0; }

.pagination > li.pre a:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  content: ""; }

.pagination > li a:hover:before,
.pagination > li a:hover:after {
  border-color: #53a461; }

.pagination > li.first a:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  width: 8px;
  height: 8px;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  content: ""; }

.pagination > li.first a:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -1px;
  width: 8px;
  height: 8px;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  content: ""; }

.pagination > li.next a:before {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -5px;
  margin-right: -1px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  content: ""; }

.pagination > li.last a:before {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -5px;
  margin-right: -3px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  content: ""; }

.pagination > li.last a:after {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -5px;
  margin-right: 1px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  content: ""; }

.pagination > li a:hover:before,
.pagination > li a:hover:after {
  border-color: #53a461; }

.pagination > li.first:hover, .pagination > li.first:focus,
.pagination > li.last:hover,
.pagination > li.last:focus,
.pagination > li.next:hover,
.pagination > li.next:focus,
.pagination > li.pre:hover,
.pagination > li.pre:focus {
  background: #53a461;
  border-color: #53a461; }
  .pagination > li.first:hover a:before, .pagination > li.first:hover a:after, .pagination > li.first:focus a:before, .pagination > li.first:focus a:after,
  .pagination > li.last:hover a:before,
  .pagination > li.last:hover a:after,
  .pagination > li.last:focus a:before,
  .pagination > li.last:focus a:after,
  .pagination > li.next:hover a:before,
  .pagination > li.next:hover a:after,
  .pagination > li.next:focus a:before,
  .pagination > li.next:focus a:after,
  .pagination > li.pre:hover a:before,
  .pagination > li.pre:hover a:after,
  .pagination > li.pre:focus a:before,
  .pagination > li.pre:focus a:after {
    border-color: #fff; }

.table-bottom-wrap {
  content: "";
  clear: both;
  display: block; }
  .table-bottom-wrap:after {
    content: "";
    clear: both;
    display: block; }
  .table-bottom-wrap .view-select {
    display: block;
    float: left; }
  .table-bottom-wrap .btn-area {
    display: block;
    float: right; }
  .table-bottom-wrap .pagination-wrap + .btn-area {
    margin-top: -35px; }

footer {
  background: #d0d0d0;
  padding-left: 230px;
  clear: both;
  width: 100%; }
  footer .footer-inner {
    padding: 15px;
    width: 100%; }
    footer .footer-inner .copyright {
      text-align: center;
      font-size: 0.75rem;
      font-weight: 400;
      color: #ffffff; }

.table-col table > tbody td.no-data {
  padding: 50px !important;
  text-align: center;
  height: auto; }

.file-list {
  position: relative;
  padding-left: 250px; }

.file-tree {
  position: absolute;
  top: -40px;
  left: 0;
  bottom: -40px;
  padding: 35px 5px 5px 5px;
  width: 230px;
  background: #f5f6f9; }

.tree-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto; }

.file-path-box {
  margin-bottom: 20px;
  position: relative; }
  .file-path-box .table-row {
    border-top: 1px solid #d8dade; }
    .file-path-box .table-row table > tbody > tr > th {
      text-align: center; }
    .file-path-box .table-row table > tbody > tr > td {
      padding-right: 100px; }
  .file-path-box .btn-basic {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -18px; }

.table-col table > tbody td .btn-basic {
  font-size: 14px;
  height: 28px;
  line-height: 28px; }
