<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="table-wrap table-col table-data" th:fragment="index-content">
    <table>
        <colgroup>
            <col style="width: 50px"/>
            <col style="width: auto"/>
            <col style="width: 200px"/>
            <col style="width: 200px"/>
            <col style="width: 200px"/>
            <col style="width: 300px"/>
        </colgroup>
        <thead>
        <tr>
            <th><input type="checkbox"  style="cursor: pointer" onclick="checkAll(this)" class="check-all"></th>
            <th scope="col">File Name</th>
            <th scope="col">Status</th>
            <th scope="col">Owner</th>
            <th scope="col">Last Update</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="file-list-body" >

        <!-- 데이터가 없을때 -->
        <tr th:if="${fileMap.pagingMap.fileList == null}">
            <td colspan="5" class="no-data">
                <img src="/static/assets/images/no-data.png" alt="No data found"/>
            </td>
        </tr>
        <tr th:each="file : ${fileMap.pagingMap.fileList}">
            <td class="chk-path">
                <input type="checkbox" class="chk-file" th:value="|${file.path}|" onchange="checkListener()">
            </td>
            <td class="left fileName" th:text="|${file.name}|" ></td>
<!--            <td class="left fileName" th:if="${file.type == 'folder'}">-->
<!--                <a th:text="|${file.name}|" ></a>-->
            </td>
            <td class="left filePath" style="display: none;" th:text="|${file.path}|"></td>
            <td>Edited</td>
            <td th:text="|${file.owner}|"></td>
            <td th:text="|${file.lastUpdate}|"></td>
            <td>
                <button type="button" class="btn-basic" onclick="oneFileDelete(this)"><span>Delete</span></button>
                <button type="button" class="btn-basic btnDownload" onclick="oneFileDown(this)"><span>Download</span></button>
            </td>
        </tr>

        </tbody>
    </table>
</div>
<th:block th:replace="common/pagination"></th:block>
</html>
