<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>Content list - Ultion Heasdless CMS</title>
    <meta name="apple-mobile-web-app-title" content="UCMS"/>
    <meta name="robots" content="index,nofollow"/>
    <meta name="description" content="Ultion Headless CMS"/>
    <meta property="og:title" content="UCMS"/>
    <meta property="og:url" content="http://www.ultion.co.kr/"/>
    <meta property="og:image" content="http://www.ultion.co.kr/"/>
    <meta property="og:description" content="http://www.ultion.co.kr/"/>
    <link rel="shortcut icon" href="/static/assets/images/favicon.png"/>
    <link rel="stylesheet" href="/static/assets/css/zTreeStyle.css" type="text/css"/>
    <link rel="stylesheet" href="/static/assets/css/style.css"/>
    <script src="/static/assets/js/lib/jquery.min.js"></script>
</head>

<body>
<div class="wrap">
    <header class="header">
        <h1 class="logo">
            <a href="/index"><span>Clinic</span></a>
        </h1>
        <div class="gnb-menu">
            <div class="menu">
                <a href="#">File</a>
                <ul class="sub-menu" id="fileMenu">
                    <li>
                        <a href="#" class="multi-down"><span>Multi Download</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <a href="#">Edit</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-member">
            <div class="user">
                <p>Add Folder</p>
                <input type="text" id="inPutNodeName">
                <button type="button" class="btn-basic" id="btnAddFolder"><span>AddFolder</span></button>
                <p>Re Name</p>
                <input type="text" id="nodeReNameValue">
                <button type="button" class="btn-basic" id="btnReNamingNode"><span>NodeReNaming</span></button>
                <button type="button" class="btn-basic" id="btnDeleteFolder"><span>DeleteFolder</span></button>
            </div>
        </div>
    </header>

    <div class="wrapper" id="content">
        <section class="contents">
            <div class="file-list">
                <div class="file-tree">
                    <div class="tree-wrap">
                        <ul id="tree" class="ztree"></ul>
                    </div>
                </div>
                <div class="file-path-box">
                    <div class="table-wrap table-row">
                        <table>
                            <colgroup>
                                <col style="width: 100px"/>
                                <col style="width: auto"/>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row" class="center">Path</th>
                                <td>
                                    <span class="file-path">//ROOT</span>
                                </td>
                                <form action="/upload" method="post" id="uploadForm" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label for="inputFile" class="col-sm-2 col-form-label"><strong>첨부
                                            파일</strong></label>
                                        <div class="col-sm-10">
                                            <div class="custom-file" id="inputFile">
                                                <input name="file" type="file" class="custom-file-input" id="customFile"
                                                       multiple="multiple">
                                                <input type="hidden" name="nodePath" id="nodePath">
                                                <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn-basic" id="btnUpload"><span>Upload</span></button>
                </div>

                <th:block th:replace="index-content"></th:block>

            </div>
            <input type="hidden" id="node-path">
            <input type="hidden" id="node-depth">
            <input type="hidden" id="page-no">
        </section>
    </div>
</div>
<footer>
    <div class="footer-inner">
        <p class="copyright">© 2022 ULTION All rights reserves.</p>
    </div>
</footer>

</body>
<!-- ztree 관련: https://lee-mandu.tistory.com/507, http://www.treejs.cn/v3/demo.php#_101 -->
<script type="text/javascript" src="/static/assets/js/lib/jquery.ztree.core.js"></script>
<script th:inline="javascript">
    var dep1List = [[${dep1NodeList}]];

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        let filePath = $('.file-path').text();
        $('#nodePath').val(filePath);
    });

    var zTreeObj,
        setting = {
            view: {
                selectedMulti: false
            },
            callback: {
                onClick: onClick
            }
        },
        zTreeNodes = [
            {
                name: "ROOT",
                nodePath: "",
                open: true,
                children: dep1List
                /*children: [{ name: "폴더 1" }, { name: "폴더 2" }, { name: "폴더 3", children: [{ name: "폴더 3-1" }, { name: "폴더 3-2" }] }, { name: "폴더 4", children: [{ name: "폴더 4-1" }, { name: "폴더 4-2" }] }]*/
            }
        ]

    $(document).on('click', '.btnDownload', async function () {
        console.log(this.className);
        // let path = document.getElementsByClassName(this.className).parentNode.siblings('.filePath').text();
        let path = $(this).parent().siblings('.filePath').text();
        let name = $(this).parent().siblings('.fileName').text();
        let data = {'name': name, 'path': path};

        //fetch구현

        fetch("/download", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(data)
        }).then(response => response.json())
            .then(json => {
                if (json['result'] === 'success') {
                    alert('성공');
                    console.log(json['result']);
                } else {
                    console.log(json['result']);
                }
            }).catch(e => alert('다운실패'));
    });


    $(document).on('click', '.multi-down', function () {
        let list = [];
        let downLoadCount = 0;
        $('.file-list-body').find('.chk-file:checked').each(function () {
            let path = $(this).parent().siblings('.filePath').text();
            let name = $(this).parent().siblings('.fileName').text();
            downLoadCount++;
            list.push({'name': name, 'path': path});
        });

        console.log(list);

        $.ajax({
            url: '/download2',
            processData: false,
            contentType: 'application/json',
            dataType: 'JSON',
            data: JSON.stringify(list),
            type: 'POST',
            success: function (result) {
                if (result.result === 'success') {
                    alert(downLoadCount + '개 파일 다운완료');
                } else alert('다운실패');
            },
            error: function (request, status, error) {
                console.log(error);
            }
        });
    });


    function onClick(event, treeId, treeNode, clickFlag) { //폴더클릭 이벤트
        let nodePath = treeNode;
        if (treeId != 'click')
            nodePath = treeNode.nodePath;

        const strLength = nodePath.length;
        nodePath = nodePath.substr(1, strLength - 1);
        $('.file-path').text('//ROOT/' + nodePath);

        const param = {};
        param.target = nodePath;
        let nodePathArr = nodePath.split("/");
        let nodePathLen = nodePathArr.length;

        if (1 === nodePathLen && nodePath === '')
            param.depth = 1;
        else if (1 === nodePathLen && nodePath !== '')
            param.depth = 2;
        else
            param.depth = 3;

        $('#node-path').val(nodePath);
        $('#node-depth').val(param.depth);

        movePage(1, nodePath, param.depth);

    }

    $(document).ready(function () {
        zTreeObj = $.fn.zTree.init($("#tree"), setting, zTreeNodes);
    });

    //업로드
    $('#btnUpload').on('click', function () {
        const form = $('#uploadForm')[0];
        const data = new FormData(form);

        $.ajax({
            url: '/upload',
            processData: false,
            contentType: false,
            data: data,
            type: 'POST',
            success: function (result) {

                if (result.resultAdd) {
                    alert('업로드성공');
                } else {
                    alert('업로드실패');
                }

            },
            error: function (request, status, error) {

                console.log(error);
            }
        });
    });

    //노드 이름 변경
    $('#btnReNamingNode').off('click').on('click', function () {
        let reName = document.getElementById('nodeReNameValue').value;
        let filePath = $('.file-path').text();

        const data = {};

        data.path = filePath;
        data.reName = reName;

        console.log(data);

        fetch("/reName", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(data)
        }).then(() => alert("이름 변경"))
            .catch(e => alert(e));
    });


    //폴더추가
    $('#btnAddFolder').off('click').on('click', function () {
        const param = {};
        let path = $('.file-path').text();

        param.nodePath = path;
        param.nodeName = $('#inPutNodeName').val();

        $.ajax({
            url: '/folderAdd',
            processData: false,
            contentType: 'application/json',
            dataType: 'JSON',
            data: JSON.stringify(param),
            type: 'POST',
            success: function (result) {
                if (result.resultAdd) {
                    alert('폴더추가성공');

                } else alert('폴더추가실패');
            },
            error: function (request, status, error) {
                console.log(error);
            }
        });
    });

    $('#btnDeleteFolder').on('click', function () {
        const param = {};
        let path = $('.file-path').text();

        param.nodePath = path;

        $.ajax({
            url: '/folderDelete',
            processData: false,
            contentType: 'application/json',
            dataType: 'JSON',
            data: JSON.stringify(param),
            type: 'POST',
            success: function (result) {
                if (result.delResult) alert('폴더삭제성공');
                else alert('폴더삭제실패');
            },
            error: function (request, status, error) {
                console.log(error);
            }
        });
    });

    //페이징
    function movePage(pageNo, target, depth) {

        $('#page-no').val(pageNo);

        if (target == null && depth == null) {
            target = $('#node-path').val();
            depth = $('#node-depth').val();
        }

        var paramData = dataBind(pageNo, target, depth);

        $.ajax({
            type: 'POST',
            url: '/nodeList',
            contentType: 'application/json; charset=utf-8',
            data: paramData,
            traditional: true,
            cache: false,
        }).done(function (data) {
            $('.table-data').remove();
            $('.pagination-wrap').remove();

            $('.file-list').append(data);

        }).fail(function (request, error) {
            console.log(request.responseText);
            console.log('로딩 실패');
        });
    }

    function dataBind(pageNo, target, depth) {
        const data = {};
        data.pageNo = pageNo;
        data.target = target;
        data.depth = depth;

        const jsonData = JSON.stringify(data);
        return jsonData;
    }

</script>
</html>
