<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>Content list - Ultion Heasdless CMS</title>
    <meta name="apple-mobile-web-app-title" content="UCMS"/>
    <meta name="robots" content="index,nofollow"/>
    <meta name="description" content="Ultion Headless CMS"/>
    <meta property="og:title" content="UCMS"/>
    <meta property="og:url" content="http://www.ultion.co.kr/"/>
    <meta property="og:image" content="http://www.ultion.co.kr/"/>
    <meta property="og:description" content="http://www.ultion.co.kr/"/>
    <link rel="shortcut icon" href="/static/assets/images/favicon.png"/>
    <link rel="stylesheet" href="/static/assets/css/zTreeStyle.css" type="text/css"/>
    <link rel="stylesheet" href="/static/assets/css/style.css"/>
    <script src="/static/assets/js/lib/jquery.min.js"></script>
</head>

<body>
<div class="wrap">
    <header class="header">
        <h1 class="logo">
            <a href="/index"><span>Clinic</span></a>
        </h1>
        <div class="gnb-menu">
            <div class="menu">
                <a href="#">File</a>
                <ul class="sub-menu" id="fileMenu">
                    <li>
                        <a href="#" class="multi-down" onclick="
                        multiDown()"><span>선택한 파일 다운</span></a>
                    </li>
                    <li>
                        <a href="#" class="delete-folder" onclick="deleteFolder()"><span>현재 폴더 삭제</span></a>
                    </li>
                    <li>
                        <a href="#" onclick="addFolder()"><span>폴더 추가</span></a>
                    </li>
                    <li>
                        <a href="#" onclick="reNaming()"><span>이름 변경</span></a>
                    </li>
                    <li>
                        <a href="#" id="fileUpload"><span>파일 업로드</span></a>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <a href="#">Sub</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#" id="fileDelete" onclick="deleteFiles()"><span>파일 삭제</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-member">
            <div class="user">

            </div>
        </div>
    </header>

    <div class="wrapper" id="content">
        <section class="contents">
            <div class="file-list">
                <div class="file-tree">
                    <div class="tree-wrap">
                        <ul id="tree" class="ztree"></ul>
                    </div>
                </div>
                <div class="file-path-box">
                    <div class="table-wrap table-row">
                        <table>
                            <colgroup>
                                <col style="width: 100px"/>
                                <col style="width: auto"/>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row" class="center">Path</th>
                                <td>
                                    <span class="file-path">//ROOT</span>
                                </td>
                                <form action="/upload" method="post" id="uploadForm" enctype="multipart/form-data">
                                    <div class="custom-file" id="inputFile">
                                        <input name="file" type="file" class="custom-file-input" id="customFile"
                                               multiple="multiple">
                                        <input type="hidden" name="nodePath" id="nodePath">
                                    </div>
                                </form>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn-basic" id="btnUpload"><span>Upload</span></button>
                </div>

                <!--                <th:block th:replace="index-content"></th:block>-->

            </div>
            <input type="hidden" id="node-path">
            <!--            <input type="hidden" id="node-depth">-->
            <input type="hidden" id="page-no">
        </section>
    </div>
</div>
<footer>
    <div class="footer-inner">
        <p class="copyright">© 2022 ULTION All rights reserves.</p>
    </div>
</footer>

</body>
<!-- ztree 관련: https://lee-mandu.tistory.com/507, http://www.treejs.cn/v3/demo.php#_101 -->
<script type="text/javascript" src="/static/assets/js/lib/jquery.ztree.core.js"></script>
<script th:inline="javascript">
    $(".custom-file-input").on("change", function () {
        let fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        let filePath = $('.file-path').text();
        $('#nodePath').val(filePath);
    });
    let fileMap = [[${result.folderList}]];
    let zTreeObj,
        setting = {
            showLine: false,
            data: {
                simpleData: {
                    enable: true,
                    // idKey: "id",
                    // pIdKey: "pid",
                    // rootPId: "-1"
                }
            },
            view: {
                selectedMulti: false,
                dblClickExpand: true,
                showLine: false,
            },
            callback: {
                onClick: onClick,  //노트 폴더 클릭시 이벤트로 추측됨
            }
        },
        zTreeNodes = fileMap


    function checkListener() {
        const checkFiles = document.querySelectorAll('.chk-file');
        const checkedFiles = document.querySelectorAll('.chk-file:checked');
        const checkAll = document.querySelector('.check-all');
        checkAll.checked = (checkFiles.length === checkedFiles.length); //체크가능 숫자와 체크 된숫자가 같은지 비교
    }

    function checkAll(checkBox) {
        const checkFiles = document.querySelectorAll('.chk-file');
        checkFiles.forEach(checkFile => {
            checkFile.checked = checkBox.checked;
        });
    }


    async function download(getUrl, formData) {
        const init = await fetch(getUrl, {
            headers: {
                'Accept': 'application/json',
            },
            body: formData,
            method: 'post',
        });

        const realFileName = formData.get('name');
        console.log(realFileName);

        const blob = await init.blob();
        const disposition = init.headers.get('content-disposition');
        if (disposition && disposition.indexOf('attachment') !== -1) {
            const filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/
            const matches = filenameRegex.exec(disposition)
            if (matches != null && matches[1]) {
                console.log('matches[1]:' + matches[1])
            }
        }

        //가짜 링크 만들기
        const url = URL.createObjectURL(await blob)
        const a = document.createElement("a")
        a.href = url
        a.download = realFileName
        document.body.appendChild(a)
        a.click()
        window.URL.revokeObjectURL(url)
    }

    async function oneFileDown(button) {
        const root = button.parentElement.parentElement;
        const name = root.querySelector('.fileName').innerText;
        const path = root.querySelector('.filePath').innerText;
        const formData = new FormData();
        formData.append('name', name);
        formData.append('path', path);
        const url = '/download';
        await download(url, formData);
    };

    async function multiDown() {
        const checkList = document.querySelectorAll('.chk-file:checked');
        const url = '/download2';
        const list = [];
        if (checkList.length === 0) {
            alert('선택한 파일이없습니다');
            return;
        }
        let idx = 0;
        checkList.forEach(checked => {
            const parent = checked.parentElement.parentElement;
            const name = parent.querySelector('.fileName').innerText;
            const path = parent.querySelector('.filePath').innerText;
            const formData = new FormData();
            formData.append('name', name);
            formData.append('path', path);
            const url = '/download';
            download(url, formData);
        });

        console.log(list);
    }

    onClick('root', 'click', ''); //페이지 열면 바로 루트로 들어가게

    async function onClick(event, eventName, treeNode, clickFlag) { //폴더클릭 이벤트
        let nodePath = treeNode;
        if (eventName !== 'click')
            nodePath = treeNode.path;
        this.open = true;
        const strLength = !nodePath ? 0 : nodePath.length;
        nodePath = strLength === 0 ? '' : nodePath.substr(1, strLength - 1);
        document.querySelector('.file-path').innerText = '//ROOT/' + nodePath;
        const param = {};
        param.target = nodePath;

        //이코드는 처음에 페이지부를 때 Root 를 하이라이팅 하기 위한 코드입니다
        //아래 함수는 페이지가 그려진후 할행동을 정의합니다
        //페이지가 그려진후에는 루트부터 tree_1_a ,tree_1_b 이런식으로 트리 아이디가 생성됩니다
        //하이라팅 방법은 className 에 curSelectedNode 를 붙이는것입니다. curSelectedNode 앞에 공백 중요
        if (document.querySelector('.file-path').innerText === '//ROOT/') {
            window.addEventListener('DOMContentLoaded', function () {
                document.querySelector('#tree_1_a').className = 'level0 curSelectedNode';
            });
        } else {
            document.querySelector('#tree_1_a').className = 'level0';
        }

        document.getElementById('node-path').value = nodePath;
        // document.getElementById('node-depth').value = param.depth;
        if (event !== 'root') {
            addSubNode(treeNode, nodePath);
            console.log('fileMap', fileMap)
        }
        movePage(1, nodePath);
    }

    function getNowNodes() {
        //현재 모든 노드들을(폴더) 반환
        let node = zTreeObj.getNodes();
        return zTreeObj.transformToArray(node);

    }

    function addSubNode(treeNode, target) {
        let nodes = getNowNodes();
        let isPresent = false;
        //하위폴더 존재시에는 실행안함
        nodes.forEach(n => {
            if (n.pId === treeNode.id) {
                isPresent = true;
            }
        });
        if (!isPresent) {
            $.ajax({
                cache: true,
                type: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                url: '/children/' + target,
                data: JSON.stringify({id: treeNode.id, lastId: nodes.length}),
                async: true,
                success: function (data) {
                    console.log(nodes.length);
                    zTreeObj.addNodes(treeNode, data.folderList);
                },
                error: function (data) {
                    console.log("error");
                }
            });
        }
    }


    //페이징
    function movePage(pageNo, target) {
        document.getElementById('page-no').value = pageNo;
        if (target == null) {
            target = document.getElementById('node-path').value;
        }
        const paramData = dataBind(pageNo, target);

        $.ajax({
            type: 'POST',
            url: '/nodeList',
            contentType: 'application/json; charset=utf-8',
            data: paramData,
            traditional: true,
            cache: false,
        }).done(function (data) {
            $('.table-data').remove();
            $('.pagination-wrap').remove();
            $('.file-list').append(data);
        }).fail(function (request, error) {
            console.log(request.responseText);
            console.log('로딩 실패');
        });
    }


    function dataBind(pageNo, target) {
        const data = {};
        data.pageNo = pageNo;
        data.target = target;
        const jsonData = JSON.stringify(data);
        return jsonData;
    }

    //zTree 그리기
    const ready = (callback) => {
        if (document.readyState !== 'loading') callback;
        else document.addEventListener('DOMContentLoaded', callback);
    }

    ready(() => {
        zTreeObj = $.fn.zTree.init($("#tree"), setting, zTreeNodes);
    });

    // 파일업로드버튼 리스너 달아주기
    document.getElementById('fileUpload').addEventListener('click', function () {
        if (document.querySelector('.file-path').innerText === '//ROOT/') {
            alert('루트에는 파일을 업로드 할수없습니다');
            return;
        }
        document.getElementById('customFile').click();
    });

    //파일업로드폼 숨기기
    document.getElementById('customFile').style.display = 'none';
    document.getElementById('btnUpload').style.display = 'none';


    document.getElementById('customFile').addEventListener('change', function () {
        const filesLength = document.getElementById('customFile').files.length;
        document.getElementById('btnUpload').style.display = filesLength === 0 ? 'none' : 'block';
        document.getElementById('btnUpload').innerText = filesLength + '개 파일 업로드'
    });

    //업로드
    document.getElementById('btnUpload').addEventListener('click', function () {
        const form = document.getElementById('uploadForm');
        const data = new FormData(form);
        const filesLength = document.getElementById('customFile').files.length; //0개 파일 올리기 방지
        const folderPath = document.querySelector('.file-path').innerText; // 폴더선택안하기 방지
        if (folderPath === '//ROOT/') {
            alert('업로드할 폴더가 지정되지 않았습니다.');
            return;
        }
        if (!filesLength) {
            alert('선택된 파일이없습니다');
            return;
        }
        fetch('/upload', {
            method: 'POST',
            headers: {},//업로드 헤더에 값이 있을경우 오히려 에러발생
            body: data
        }).then(response => response.json())
            .then(json => {
                if (json['resultAdd']) {
                    alert('[' + folderPath + ']' + filesLength + '개 파일 업로드 성공!');
                    window.location.reload();

                } else {
                    console.log(json);
                    alert('업로드실패');
                }
            }).catch(e => {
            console.log(e);
        });
    });

    function reNaming() {
        const filePath = document.querySelector('.file-path').innerText; //파일 패스가 부모 경로이므로 /<<이것을 추가해줌
        if (filePath === '//ROOT/') {
            alert('루트는 변경할수없습니다');
            return;
        }
        const nowName = document.querySelector('.curSelectedNode').querySelector('.node_name').innerText;
        const reName = prompt('이름변경', nowName);
        if (reName.length === 0) {
            alert('폴더이름을 지정해주세요');
            reNaming();
        }
        const data = {};
        data.path = filePath;
        data.reName = reName;
        fetch("/reName", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(data)
        }).then(res => res.text())
            .then(text => {
                if (text === 'success') {
                    alert("이름 변경[" + nowName + ']->[' + reName + ']');
                } else {
                    alert(text);
                }
            })
            .catch(e => console.log(e));
        window.location.href = '/index';
    }

    //폴더추가
    function addFolder() {
        const param = {};
        const addFolderName = window.prompt('추가할 폴더이름을 넣어주세요');
        if (addFolderName.length === 0) {
            alert('폴더이름을 지정하지 않았습니다');
            addFolder();
        }
        const getNodes = getNowNodes();
        let isPresent = false;
        getNodes.forEach(nowNode => {
            console.log(nowNode.path);
            if (nowNode.path === document.querySelector('.file-path').innerText.replace('//ROOT/', '') + '/' + addFolderName) {
                isPresent = true;
            } else if (nowNode.path === document.querySelector('.file-path').innerText.replace('//ROOT', '') + '/' + addFolderName)
                isPresent = true;
        })
        if (isPresent) {
            alert('이미 같은이름의 폴더가 존재합니다');
            return;
        }
        param.nodePath = document.querySelector('.file-path').innerText;

        param.nodeName = addFolderName;
        fetch('/folderAdd', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(param)
        }).then(response => response.json())
            .then(json => {
                if (json['resultAdd']) {
                    alert(param.nodeName + '폴더 추가');
                    window.location.href = '/index';
                } else alert('폴더 추가실패');
            }).catch(e => console.log(e));
    }


    function deleteFile(path, fileName) {
        const param = {};
        param.nodePath = path;
        param.fileName = fileName;
        return fetch('/fileDelete', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(param)
        }).then(res => res.json());
    }

    async function oneFileDelete(button) {
        const param = {};
        const root = button.parentElement.parentElement;
        const path = root.querySelector('.filePath').innerText;
        const fileName = root.querySelector('.fileName').innerText;
        if (!confirm('[' + fileName + '] 를 삭제 하시겠습니까?')) return;
        param.nodePath = path;
        param.fileName = fileName;
        deleteFile(path, fileName).then(json => {
            if (json['delResult']) {
                alert(fileName + ' 삭제 성공');
            } else {
                alert(fileName + '삭제 실패');
            }
        }).catch(e => console.log(e));
        window.location.href = '/index';
    }

    function deleteFiles() {
        const checkList = document.querySelectorAll('.chk-file:checked');
        if (checkList.length === 0) {
            alert('선택한 파일이없습니다');
            return;
        }
        if(!confirm(checkList.length+' 개의 파일을 삭제 하시겠습니까?')) return;
        checkList.forEach(checked => {
            const parent = checked.parentElement.parentElement;
            const name = parent.querySelector('.fileName').innerText;
            const path = parent.querySelector('.filePath').innerText;
            deleteFile(path, name);
        });
        alert(checkList.length + ' 파일 삭제 완료');
        window.location.href = '/index';
    }

    function deleteFolder() {
        const param = {};
        param.nodePath = document.querySelector('.file-path').innerText;
        const fileName = param.nodePath.substring(param.nodePath.lastIndexOf('/') + 1);
        if (!fileName) {
            alert('루트는 삭제할수없습니다');
            return;
        }
        if (!confirm('[' + fileName + ']폴더를 삭제하시겠습니까?')) {
            return;
        }
        fetch('/folderDelete', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(param)
        }).then(response => response.json())
            .then(json => {
                if (json['delResult']) alert(fileName + '을 삭제 하였습니다');
                else alert(fileName + '을 삭제하는데 실패하였습니다');
            }).catch(e => console.log(e));
        window.location.href = '/index';
    }


</script>
</html>
