<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>Content list - Ultion Heasdless CMS</title>
    <meta name="apple-mobile-web-app-title" content="UCMS" />
    <meta name="robots" content="index,nofollow" />
    <meta name="description" content="Ultion Headless CMS" />
    <meta property="og:title" content="UCMS" />
    <meta property="og:url" content="http://www.ultion.co.kr/" />
    <meta property="og:image" content="http://www.ultion.co.kr/" />
    <meta property="og:description" content="http://www.ultion.co.kr/" />
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" />
    <link rel="stylesheet" href="/static/assets/css/zTreeStyle.css" type="text/css" />
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <script src="/static/assets/js/lib/jquery.min.js"></script>
</head>

<body>
<div class="wrap">
    <header class="header">
        <h1 class="logo">
            <a href="index.html"><span>Clinic</span></a>
        </h1>
        <div class="gnb-menu">
            <div class="menu">
                <a href="#">File</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <a href="#">Edit</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                    <li>
                        <a href="#"><span>submenu</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-member">
            <div class="user">
                <p>User ID</p>
            </div>
        </div>
    </header>

    <div class="wrapper" id="content">
        <section class="contents">
            <div class="file-list">
                <div class="file-tree">
                    <div class="tree-wrap">
                        <ul id="tree" class="ztree"></ul>
                    </div>
                </div>
                <div class="file-path-box">
                    <div class="table-wrap table-row">
                        <table>
                            <colgroup>
                                <col style="width: 100px" />
                                <col style="width: auto" />
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row" class="center">Path</th>
                                <td>
                                    <span class="file-path"> //path/root/폴더3/폴더3-1 </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn-basic"><span>Upload</span></button>
                </div>
                <div class="table-wrap table-col">
                    <table>
                        <colgroup>
                            <col style="width: auto" />
                            <col style="width: 200px" />
                            <col style="width: 200px" />
                            <col style="width: 200px" />
                            <col style="width: 300px" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">File Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Last Update</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 데이터가 없을때 -->
                        <!-- <tr>
                            <td colspan="5" class="no-data">
                                <img src="../assets/images/no-data.png" alt="No data found" />
                            </td>
                        </tr> -->
                        <tr>
                            <td class="left">FileName0001</td>
                            <td>Edited</td>
                            <td>krchoi</td>
                            <td>2022-01-25 14:15:52</td>
                            <td>
                                <button type="button" class="btn-basic"><span>Properties</span></button>
                                <button type="button" class="btn-basic"><span>Download</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">FileName0001</td>
                            <td>Published</td>
                            <td>admin</td>
                            <td>2022-01-25 14:15:52</td>
                            <td>
                                <button type="button" class="btn-basic"><span>Properties</span></button>
                                <button type="button" class="btn-basic"><span>Download</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">FileName0001</td>
                            <td>Published</td>
                            <td>admin</td>
                            <td>2022-01-25 14:15:52</td>
                            <td>
                                <button type="button" class="btn-basic"><span>Properties</span></button>
                                <button type="button" class="btn-basic"><span>Download</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">FileName0001</td>
                            <td>Published</td>
                            <td>admin</td>
                            <td>2022-01-25 14:15:52</td>
                            <td>
                                <button type="button" class="btn-basic"><span>Properties</span></button>
                                <button type="button" class="btn-basic"><span>Download</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">FileName0001</td>
                            <td>Edited</td>
                            <td>krchoi</td>
                            <td>2022-01-25 14:15:52</td>
                            <td>
                                <button type="button" class="btn-basic"><span>Properties</span></button>
                                <button type="button" class="btn-basic"><span>Download</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">FileName0001</td>
                            <td>Edited</td>
                            <td>krchoi</td>
                            <td>2022-01-25 14:15:52</td>
                            <td>
                                <button type="button" class="btn-basic"><span>Properties</span></button>
                                <button type="button" class="btn-basic"><span>Download</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">FileName0001</td>
                            <td>Published</td>
                            <td>admin</td>
                            <td>2022-01-25 14:15:52</td>
                            <td>
                                <button type="button" class="btn-basic"><span>Properties</span></button>
                                <button type="button" class="btn-basic"><span>Download</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">FileName0001</td>
                            <td>Published</td>
                            <td>admin</td>
                            <td>2022-01-25 14:15:52</td>
                            <td>
                                <button type="button" class="btn-basic"><span>Properties</span></button>
                                <button type="button" class="btn-basic"><span>Download</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">FileName0001</td>
                            <td>Published</td>
                            <td>admin</td>
                            <td>2022-01-25 14:15:52</td>
                            <td>
                                <button type="button" class="btn-basic"><span>Properties</span></button>
                                <button type="button" class="btn-basic"><span>Download</span></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="left">FileName0001</td>
                            <td>Edited</td>
                            <td>krchoi</td>
                            <td>2022-01-25 14:15:52</td>
                            <td>
                                <button type="button" class="btn-basic"><span>Properties</span></button>
                                <button type="button" class="btn-basic"><span>Download</span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination-wrap">
                    <ul class="pagination">
                        <li class="first">
                            <a href="#">first</a>
                        </li>
                        <li class="pre">
                            <a href="#">prev</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">6</a>
                        </li>
                        <li>
                            <a href="#">7</a>
                        </li>
                        <li>
                            <a href="#">8</a>
                        </li>
                        <li>
                            <a href="#">9</a>
                        </li>
                        <li>
                            <a href="#">10</a>
                        </li>
                        <li class="next">
                            <a href="#">next</a>
                        </li>
                        <li class="last">
                            <a href="#">last</a>
                        </li>
                    </ul>
                </div>

            </div>
        </section>
    </div>
</div>
<footer>
    <div class="footer-inner">
        <p class="copyright">© 2022 ULTION All rights reserves.</p>
    </div>
</footer>

</body>
<!-- ztree 관련: https://lee-mandu.tistory.com/507, http://www.treejs.cn/v3/demo.php#_101 -->
<script type="text/javascript" src="/static/assets/js/lib/jquery.ztree.core.js"></script>
<script type="text/javascript">
    var zTreeObj,
        setting = {
            view: {
                selectedMulti: false
            },
            callback: {
                onClick: onClick
            }
        },
        zTreeNodes = [
            {
                name: "ROOT",
                open: true,
                children: [{ name: "폴더 1" }, { name: "폴더 2" }, { name: "폴더 3", children: [{ name: "폴더 3-1" }, { name: "폴더 3-2" }] }, { name: "폴더 4", children: [{ name: "폴더 4-1" }, { name: "폴더 4-2" }] }]
            }
        ]
    function onClick(event, treeId, treeNode, clickFlag) {
        console.log(treeNode.name)
    }

    $(document).ready(function () {
        zTreeObj = $.fn.zTree.init($("#tree"), setting, zTreeNodes)
    })
</script>
</html>
