<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>폴더</title>
    <link rel="icon" href="../static/favicon.ico">
</head>
<body>

<table>
    <thead>
    <tr>
        <th>유형</th>
        <th>이름</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="file : ${fileList}">
        <td th:text="${file.getType()}"></td>
        <td th:text="${file.getName()}"></td>

        <td th:if="${file.getType()} == 'file'">
            <form method="post" th:action="download">
                <input type="hidden" th:name="path" th:value="${file.getPath()}">
                <input type="submit" value="다운로드">
            </form>
        </td>
        <!--        <td th:if="${file.getType()} == 'file' "> <a th:href="@{/search/__${file.getPath()}__}"  th:text="${file.getName()}"></a></td>-->
        <td th:hidden="${file.getPath()}"></td>
    </tr>
    </tbody>
</table>


                <input type="button" class="btn btn-primary" value="업로드 하러가기" onclick="location.href='/'">


</body>
</html>