<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>File Upload Test</h1>
<form method="post" action="/upload-test" enctype="multipart/form-data">
    <input type="file" name="uploadFile" multiple="multiple">
    <input type="submit" value="가즈아">
</form>

<h1>upload-test3</h1>
<form method="post" action="/upload-test3" enctype="multipart/form-data">
    <input type="file" name="uploadFile" multiple="multiple">
    <input type="submit" value="가즈아">
    <button type="button" onclick="location.href='/delete'">Delete</button>
</form>



<h3>
    <ul th:each="dto:${dtos}">
        <li>이름: <span th:text="${dto.fileName}"></span>

            <a href="#" th:onclick="javascript:down([[${dto.fileName}]],[[${dto.path}]])"> 다운 </a>
        </li>
    </ul>
</h3>

<script>
    function down(name, path) {
        let form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', "/download");
        document.charset = "utf-8";
        let fileName = document.createElement('input');
        fileName.setAttribute('type', 'hidden');
        fileName.setAttribute('name', 'name');
        fileName.setAttribute('value', name);
        let filePath = document.createElement('input');
        filePath.setAttribute('type', 'hidden');
        filePath.setAttribute('name', 'path');
        filePath.setAttribute('value', path);

        form.appendChild(fileName);
        form.appendChild(filePath)
        document.body.appendChild(form);

        form.submit();
    }
</script>

</body>
</html>