<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="table-wrap table-col table-data" th:fragment="user-content">
    <table>
        <colgroup>
            <col style="width: 50px"/>
            <col style="width: auto"/>
            <col style="width: 200px"/>
            <col style="width: 200px"/>
            <col style="width: 200px"/>
            <col style="width: 300px"/>
        </colgroup>
        <thead>
        <tr>
            <th><input type="checkbox"  style="cursor: pointer"  class="check-all"></th>
            <th scope="col">id</th>
            <th scope="col">pw</th>
            <th scope="col">register</th>
            <th scope="col">lastModified</th>
            <th scope="col">button</th>
        </tr>
        </thead>
        <tbody class="file-list-body" >

        <!-- 데이터가 없을때 -->
        <tr th:if="${userList == null}">
            <td colspan="5" class="no-data">
                <img src="/static/assets/images/no-data.png" alt="No data found"/>
            </td>
        </tr>
        <tr th:each="user : ${userList}">
            <td class="chk-path">
                <input type="checkbox" class="chk-file" th:value="|${user.idx}|" onchange="checkListener()">
            </td>
            <td class=" fileName" th:text="|${user.userId}|" ></td>
            <td class=" fileName" th:text="|${user.pw}|" ></td>
            <td class=" filePath"  th:text="|${user.registerDateTime}|"></td>
            <td th:text="1"></td>
<!--            <td th:text="|${user.lastModified}|"></td>-->
            <td>
                <button type="button" class="btn-basic" onclick="oneFileDelete(this)"><span>Delete</span></button>
                <button type="button" class="btn-basic btnDownload" onclick="oneFileDown(this)"><span>Download</span></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="common/userPage"></th:block>
</html>
